@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 96%;
    --foreground: 20 23% 24%;
    --card: 0 0% 100%;
    --card-foreground: 20 23% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 23% 24%;
    --primary: 26 36% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 28% 93%;
    --secondary-foreground: 20 23% 24%;
    --muted: 30 25% 93%;
    --muted-foreground: 20 15% 55%;
    --accent: 26 36% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 12 45% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 28 24% 85%;
    --input: 28 24% 85%;
    --ring: 26 36% 64%;
    --radius: 0.625rem;
    --sidebar-background: 24 25% 20%;
    --sidebar-foreground: 30 28% 93%;
    --sidebar-primary: 26 36% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 24 25% 25%;
    --sidebar-accent-foreground: 30 28% 93%;
    --sidebar-border: 28 24% 25%;
    --sidebar-ring: 26 36% 64%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}